%section.main-table

  %h1 Listing Measurements

  %table 
    %thead
      %tr
        %td
          %a Select Measurement
        %td
          %a Timestamp        
        %td
          %a Cow ID
        %td
          %a PH
        %td
          %a IMP
        %td
          %a NIR
        %td
          %a DFD
        %td
          %a Tenderness Score
    %tbody#measurements
      - @measurements.each do |measurement|     
        %tr 
          %td
            %input{type:"checkbox"} 
          %td= measurement["timestamp"]
          %td= measurement["cow_id"]
          %td= measurement["ph"]
          %td= measurement["imp"]
          %td= measurement["nir"]
          %td= measurement["dfd_0"]
          %td= measurement["score"] 



