%tr 
  %td
    %input{type:"checkbox"} 
  %td= link_to cow["timestamp"], cows_display_path
  %td= cow["cow_id"]
  %td= cow["ph"]
  %td= cow["imp"]
  %td= cow["nir"]
  %td= cow["dfd_0"]
  %td= cow["score"]


