%section.main-table

  %h1 Listing cows

  %table 
    %thead
      %tr
        %td
          %a Select Cow
        %td
          %a Timestamp        
        %td
          %a Cow ID
        %td
          %a PH
        %td
          %a IMP
        %td
          %a NIR
        %td
          %a DFD
        %td
          %a Tenderness Score
    %tbody
      - @cows.each do |cow|     
        %tr 
          %td
            %input{type:"checkbox"} 
          %td= cow["timestamp"]
          %td= cow["cow_id"]
          %td= cow["ph"]
          %td= cow["imp"]
          %td= cow["nir"]
          %td= cow["dfd_0"]
          %td= cow["score"]


